apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mlflow
  namespace: infra-tools
spec:
  project: default
  source:
    repoURL: "https://mlflow.github.io/mlflow-helm/"
    chart: mlflow
    targetRevision: 0.2.0
    helm:
      valueFiles:
        - values/mlflow-values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: mlflow
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
